body {
  font-family: 'Sarabun', sans-serif;
  color: #111827;
  background-image: linear-gradient(rgba(238, 194, 50, 0.151), rgba(255, 255, 255, 0.336)), url("img/1556007815_49313.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
}

h1, h2, h3, .serif-font {
  font-family: 'Noto Serif Thai', serif;
}

.chart-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: 350px;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.nav-active {
  border-bottom: 2px solid #B45309;
  color: #B45309;
  font-weight: 700;
}
.nav-item {
  padding: 0.25rem 0.5rem; 
  font-size: 0.875rem;
  transition: color 0.2s;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(180, 83, 9);
}

.step-card:hover {
  border-color: #B45309;
  background-color: #FFFBEB;
}

.transition-view {
  transition: opacity 0.3s ease-in-out;
}

.ref-link {
  font-size: 0.75rem;
  border: 1px solid rgb(55, 65, 81);
  padding: 0.375rem 0.75rem;
  border-radius: 9999px;
  transition: all 0.2s;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.ref-link:hover {
  background-color: rgb(180, 83, 9); /* bg-amber-700 */
  border-color: rgb(180, 83, 9);
}